<!--
  Generated template for the MapTestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MapTest</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="myPositionClick()">
        <ion-icon name="compass"></ion-icon>
        Ma position
      </button>
      <button ion-button icon-left (click)="userPosition()">
        <ion-icon name="contacts"></ion-icon>
        Position des livreurs
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ngui-map zoom="13" [center]="centerPosition" scrollwheel="false">
      <marker *ngFor="let marker of userMarkers" [position]="marker.position" (click)="userMarkerClick($event, marker)"></marker>
      <info-window id="iw-person">
          <ion-item >
            <ion-icon name="contacts" item-left></ion-icon>
            <h2>{{ marker.firstname }}</h2>
            <h3>{{ marker.lastname }}</h3>
            <p>Dernière connexion : {{ marker.lastConnection | date:'dd/MM/yy à HH:mm' }}<p>
          </ion-item>
          <!--button ion-button onclick="window.googleMapPage.zone.run(function() { window.googleMapPage.component.personInfoWindowClick('[[recordId]]'); })">Open</button-->
      </info-window>
  </ngui-map>

</ion-content>
