<ion-list>
    <ion-item>
      <ion-row class=" header-row">
        <ion-col col-2>Prénom</ion-col>
        <ion-col col-2>Nom</ion-col>
        <ion-col col-2>Mode</ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngFor="let row of rows ; let oddRow = odd" [class.table-striped]="oddRow" (click)="clickOnRecord(row)">
    <ion-row  class="data-row">
        <ion-col col-2><a>{{row.record.firstname}}</a></ion-col>
        <ion-col col-2>{{row.record.lastname}}</ion-col>
        <ion-col col-2>{{row.record.mode}}</ion-col>
    </ion-row>
    </ion-item>
  
  </ion-list>
  <!--ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <button ion-button block round color="light" (click)="nextGet()" [hidden]="noMore">Show more</button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row-->
  