<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-searchbar [(ngModel)]="searchFieldValue" [debounce]="250" (ionInput)="onInput($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list style="background-color:white">
    <ion-item-divider color="light">
      Résultats :
    </ion-item-divider>
    <ion-item *ngFor="let row of rows" (click)="clickKey(row.record.key[0])">
      <h4>{{row.record.key[0]}}</h4>
    </ion-item>
  </ion-list>
</ion-content>
