<ion-header>
  <ion-toolbar>
    <ion-title>
      Connexion
    </ion-title>
    <ion-buttons end>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content padding >
    <ion-list>
      <ion-item>
        <ion-label color="primary" fixed>Identifiant</ion-label>
        <ion-input type="text" [(ngModel)]="username" (keyup.enter)="handleLogin()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Mot de passe</ion-label>
        <ion-input type="password" [(ngModel)]="password" (keyup.enter)="handleLogin()"></ion-input>
      </ion-item>
    </ion-list>
    <br/>
    <button ion-button color="primary" block (click)="handleLogin()">Connexion</button>

    <br />
    <hr>

</ion-content>
