<ion-header>
  <ion-toolbar>
    <ion-title>
      Utilisateur
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="handleSaveEdit()">
        <ion-icon name="checkmark" ></ion-icon>
      </button>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-toolbar color="light">
    <ion-title>
      Informations d'utilisateurs
    </ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-label color="primary" class="field-label">Identifiant</ion-label>
      <ion-input type="text" [(ngModel)]="originalRecord.user" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item *ngIf="action == 'new'">
      <ion-label color="primary" class="field-label">Mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="originalRecord.password" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Mode</ion-label>
      <ion-select [(ngModel)]="originalRecord.mode" multiple="false">
        <ion-option value="Administrateur">Administrateur</ion-option>
        <ion-option value="Chauffeur">Chauffeur</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Nom</ion-label>
      <ion-input type="text" [(ngModel)]="originalRecord.lastname" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Prénom</ion-label>
      <ion-input type="text" [(ngModel)]="originalRecord.firstname" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Téléphone</ion-label>
      <ion-input type="number" [(ngModel)]="originalRecord.telephone" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
  </ion-list>
  <ion-toolbar color="light">
    <ion-title>
      Adresse
    </ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-label color="primary" class="field-label">Rue</ion-label>
      <ion-input type="text" [(ngModel)]="originalRecord.address" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Code postal</ion-label>
      <ion-input type="text" [(ngModel)]="originalRecord.postalCode" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Ville</ion-label>
      <ion-input type="text" [(ngModel)]="originalRecord.city" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Pays</ion-label>
      <ion-input type="text" [(ngModel)]="originalRecord.country" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
