<ion-header>
  <ion-toolbar>
    <ion-title>
      Recherche
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar [(ngModel)]="searchFieldValue" [debounce]="250" (ionInput)="onInput($event)"></ion-searchbar>
</ion-header>
<ion-content>
  <ion-list style="background-color:white">
    <ion-item-divider color="light">
      Résultats :
    </ion-item-divider>
    <ion-item *ngFor="let row of rows" (click)="clickKey(row.record.key[0])">
      <h4>{{row.record.key[0]}}</h4>
    </ion-item>
  </ion-list>
</ion-content>
