<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ record.user }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="handleEdit()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>
  <ion-toolbar color="light">
    <ion-title>Informations d'utilisateurs</ion-title>
  </ion-toolbar>

  <ion-grid>
    <ion-row>

      <ion-col width-50>
        <ion-list>
          <ion-item>
            <ion-label color="primary" fixed class="field-label">Nom</ion-label>
            <ion-label>{{ record.lastname }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed class="field-label">Prénom</ion-label>
            <ion-label>{{ record.firstname }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed class="field-label">Identifiant</ion-label>
            <ion-label>{{ record.user }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed class="field-label">Mode</ion-label>
            <ion-label>{{ record.mode }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed class="field-label">Téléphone</ion-label>
            <ion-label>{{ record.telephone }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-toolbar color="light">
    <ion-title>
      Adresse
    </ion-title>
  </ion-toolbar>

  <ion-grid>
    <ion-row>

      <ion-col width-50>
        <ion-list>
          <ion-item>
            <ion-label color="primary" fixed class="field-label">Rue</ion-label>
            <ion-label>{{ record.address }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed class="field-label">Code postal</ion-label>
            <ion-label>{{ record.postalCode }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed class="field-label">Ville</ion-label>
            <ion-label>{{ record.city }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed class="field-label">Pays</ion-label>
            <ion-label>{{ record.country }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
