<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col with-50>
        <ion-card>
          <ion-card-header>
          <h1><ion-icon name="grid"></ion-icon>  Liste des chauffeurs</h1>
          </ion-card-header>
          <ion-card-content class="app-home-card-content">

            <user-table-component recordType="user"></user-table-component>
          </ion-card-content>
        </ion-card>


        <ion-card>
          <ion-card-header>
            <h1><ion-icon name="stats"></ion-icon>  Delivery graph</h1>
          </ion-card-header>
          <ion-card-content class="app-home-card-content">
            <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col with-50>
        <ion-card>
          <ion-card-header>
            <h1><ion-icon name="grid"></ion-icon>  Liste des colis</h1>
          </ion-card-header>
          <ion-card-content class="app-home-card-content">
            <package-table-component recordType="package"></package-table-component>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <h1><ion-icon name="stats"></ion-icon>  Delivery history graph</h1>
          </ion-card-header>
          <ion-card-content class="app-home-card-content">
            <canvas baseChart width="400" height="400"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
