<ion-header>
  <ion-toolbar>
    <ion-title>
      Colis
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="handleSaveEdit()">
        <ion-icon name="checkmark" ></ion-icon>
      </button>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-toolbar color="light">
    <ion-title>
      Informations
    </ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-label color="primary" fixed class="field-label">Poids</ion-label>
      <ion-input type="number" [(ngModel)]="originalRecord.weight" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" fixed class="field-label">Numéro d'identification</ion-label>
      <ion-input type="number" [(ngModel)]="originalRecord.identification" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" fixed class="field-label">Expéditeur</ion-label>
      <ion-input type="text" [(ngModel)]="originalRecord.sender" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" fixed class="field-label">Destinataire</ion-label>
      <ion-label>
        <ion-chip [hidden]="lookup.receiver_name == null">
          <ion-label>{{ lookup.receiver_name}}</ion-label>
          <span ion-button color="light" (click)="clearClickClient()">
            <ion-icon name="close-circle"></ion-icon>
          </span>
        </ion-chip>

        <div [hidden]="lookup.receiver_name != null" (click)="searchClickClient()">
          <ion-icon name="search"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary" fixed class="field-label">Chauffeur assigné</ion-label>
      <ion-label>
        <ion-chip [hidden]="lookup.driver_name == null">
          <ion-label>{{ lookup.driver_name}}</ion-label>
          <span ion-button color="light" (click)="clearClick()">
            <ion-icon name="close-circle"></ion-icon>
          </span>
        </ion-chip>

        <div [hidden]="lookup.driver_name != null" (click)="searchClick()">
          <ion-icon name="search"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
