// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@media only screen and (min-width: 1024px) and (min-height: 768px) {
  .modal-wrapper {
    position: absolute;
    top: calc(50% - (600px/2));
    left: calc(50% - (800px/2));
    width: 800px;
    height: 600px;
  }
}

@media only screen and (min-width: 1280px) and (min-height: 768px) {
  .modal-wrapper {
    position: absolute;
    top: calc(50% - (600px/2));
    left: calc(50% - (1024px/2));
    width: 1024px;
    height: 600px;
  }
}

@media only screen and (min-width: 1280px) and (min-height: 800px) {
  .modal-wrapper {
    position: absolute;
    top: calc(50% - (700px/2));
    left: calc(50% - (1024px/2));
    width: 1024px;
    height: 700px;
  }
}

@media only screen and (min-width: 1280px) and (min-height: 1024px) {
  .modal-wrapper {
    position: absolute;
    top: calc(50% - (768px/2));
    left: calc(50% - (1024px/2));
    width: 1024px;
    height: 768px;
  }
}

ion-item:hover {
  background-color: #F8F8F8;
}

ion-item.table-striped {
  background-color: color($colors, light);;
}

.app-menu-selected {
  	background-color: color($colors, primary);
    color:  #fff;
}

.loading-custom-spinner-container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}

.loading-custom-spinner-box {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  border: 4px solid #000;
  width: 60px;
  height: 60px;
  animation: spin 3s infinite linear;
}

.loading-custom-spinner-box:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border: 4px solid #000;
  width: 40px;
  height: 40px;
  animation: pulse 1.5s infinite ease;
}

ion-label.field-label {
  min-width: 190px;
  width: 190px;
  max-width: 190px;
  white-space: pre-wrap;
  text-align: right;
}

/*
  Windows Loading Custom Component
*/

.wp .loading-custom-spinner-box,
.wp .loading-custom-spinner-box:before {
  border-color: #fff;
}

/*
  Loading Custom Component Keyframes
*/

@-webkit-keyframes pulse {
  50% {
    border-width: 20px;
  }
}
@keyframes pulse {
  50% {
    border-width: 20px;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
