<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col with-50>
        <ion-card>
          <ion-card-header>
          <h1><ion-icon name="grid"></ion-icon>Liste des colis</h1>
          </ion-card-header>
          <ion-card-content class="app-home-card-content">

             <ion-list>
              <ion-row style="font-weight:bold;line-height:35px">
                <ion-col width-25>Identification</ion-col>
                <ion-col width-25>Expéditeur</ion-col>
                <ion-col width-25>Status</ion-col>
              </ion-row>
              <ion-row *ngFor="let row of rows ; let oddRow = odd" (click)="clickOnRecord(row)" [class.table-striped]="oddRow">
                <ion-col width-25>{{row.record.identification}}</ion-col>
                <ion-col width-25>{{row.record.sender}}</ion-col>
                <ion-col width-25 style="color:red">KO</ion-col>
              </ion-row>
            </ion-list>
          </ion-card-content>
        </ion-card>



      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
