<ion-list>
    <ion-item>
      <ion-row class=" header-row">
        <ion-col col-2>Expérditeur</ion-col>
        <ion-col col-2>Destinataire</ion-col>
        <ion-col col-2>Chauffeur</ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngFor="let row of rows ; let oddRow = odd" [class.table-striped]="oddRow" (click)="clickOnRecord(row)">
    <ion-row  class="data-row">
        <ion-col col-2><a>{{row.record.sender}}</a></ion-col>
        <ion-col col-2>{{row.lookup.receiver_name}}</ion-col>
        <ion-col col-2>{{row.lookup.driver_name}}</ion-col>
    </ion-row>
    </ion-item>
  
  </ion-list>
  <!--ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <button ion-button block round color="light" (click)="nextGet()" [hidden]="noMore">Show more</button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row-->
  