<ion-content >

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Authentification
        </ion-card-title>
      <p>
        Veuillez vous authentifier.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
