<ion-header>
  <ion-toolbar>
    <ion-title>
      Client
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="handleSaveEdit()">
        <ion-icon name="checkmark" ></ion-icon>
      </button>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-toolbar color="light">
    <ion-title>
      Informations clientèles
    </ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-label color="primary" class="field-label">Civilité</ion-label>
      <ion-select [(ngModel)]="originalRecord.sexe" multiple="false">
        <ion-option value="Société">Société</ion-option>
        <ion-option value="Monsieur">Monsieur</ion-option>
        <ion-option value="Madame">Madame</ion-option>
        <ion-option value="Mademoiselle">Mademoiselle</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Nom</ion-label>
      <ion-input type="text" [(ngModel)]="originalRecord.lastname" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Prénom</ion-label>
      <ion-input type="text" [(ngModel)]="originalRecord.firstname" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Adresse</ion-label>
      <ion-input type="text" [(ngModel)]="originalRecord.address" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Code postale</ion-label>
      <ion-input type="text" [(ngModel)]="originalRecord.postalCode" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Ville</ion-label>
      <ion-input type="text" [(ngModel)]="originalRecord.city" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Pays</ion-label>
      <ion-input type="text" [(ngModel)]="originalRecord.country" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Téléphone</ion-label>
      <ion-input type="number" [(ngModel)]="originalRecord.telephone" (keyup.enter)="handleSaveEdit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="field-label">Commentaires</ion-label>
      <ion-textarea [(ngModel)]="originalRecord.comments" [maxlength]="2000" rows="5"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
