<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Liste des chauffeurs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="handleNew()"><ion-icon name="add"></ion-icon></button>
    <button ion-fab color="danger" (click)="handleSearch()"><ion-icon name="search"></ion-icon></button>
  </ion-fab>
  <ion-list>
    <ion-item-divider color="light" [hidden]="count>0">
      <ion-icon name="alert"></ion-icon>&nbsp; Vides
    </ion-item-divider>
    <ion-item-group [hidden]="count<=0">
      <ion-item-divider color="light">
        <ion-note item-right>{{count}} chauffeurs</ion-note>
      </ion-item-divider>
      <ion-item  *ngFor="let row of rows" (click)="clickOnRecord(row)">
        <ion-avatar item-left>

        </ion-avatar>
        <h2>{{row.record.firstname}}</h2>
        <h3>{{row.record.lastname}}</h3>
        <p>{{row.record.description}}</p>
        <ion-note item-right>{{row.record.mode}}</ion-note>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
