<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ record.sender }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="handleEdit()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>
  <ion-toolbar color="light">
    <ion-title>Colis</ion-title>
  </ion-toolbar>

  <ion-grid>
    <ion-row>

      <ion-col width-50>
        <ion-list>
          <ion-item>
            <ion-label color="primary" fixed class="field-label">Poids</ion-label>
            <ion-label>{{ record.weight }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed class="field-label">Numéro d'identification</ion-label>
            <ion-label>{{ record.identification }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed class="field-label">Expéditeur</ion-label>
            <ion-label>{{ record.sender }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed class="field-label">Destinataire</ion-label>
            <ion-label><a (click)="openClient(record.receiver_id)" href="javascript:void(0)">{{ lookup.receiver_name }}</a></ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed class="field-label">Chauffeur assigné</ion-label>
            <ion-label><a (click)="openUser(record.driver_id)" href="javascript:void(0)">{{ lookup.driver_name }}</a></ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
